.container{
    background-color: #90CCF0; 
    /* max-width: 70%;
    max-height: 70%; */
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
margin: auto;

}
.centerContainer{
    align-items: center;
        align-self: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-top: 15px;
}
.tableHeader{
    background-color: #FCCD04;
}
/* #ffa726; */
.tableBody{
    background-color: #5DA2D5;
}
/* .tableItems{
    background-color: #FCCD04;
} */
.aboutContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
        align-self: center;
        justify-content: center;
        text-align: center;
        margin-left: 30%;
        margin-right: 30%;
}
